extends base/layout

//- Block main
block main

  include components/s-section-top

  //- List each section (the order is linked to the order of the c-nav)
  //- _items is in the JSON injected in the view with gulp-data (called _project.json)
  .s-main__section.s-main__checklist

    if _items !== undefined

      +checklist-section({
        dataSection: _items.technology,
        sectionTitle: "技术"
      })

      +checklist-section({
        dataSection: _items.people,
        sectionTitle: "人"
      })

      +checklist-section({
        dataSection: _items.process,
        sectionTitle: "流程"
      })

      +checklist-section({
        dataSection: _items.domain,
        sectionTitle: "业务"
      })

  include components/s-section-bottom
