header.s-header

  include ../components/c-corner

  .s-header__banner
    .text-center
      picture
        source(srcset="/img/logos/logo-front-end-checklist.webp" type="image/webp")
        source(srcset="/img/logos/logo-front-end-checklist.jpg" type="image/jpeg")
        img.img-logo(src="/img/logos/logo-front-end-checklist.jpg" alt="Front-End Checklist Logo" width="100" height="100")
      h1.font-weight-bold= translation.SITE_NAME
      p.sub-heading= translation.SITE_TAGLINE

  //- Add new language manually
  .s-header__lang
    ul.s-header__lang__list
      li.s-header__lang__item
        a(href="/")
          img(src="/img/flags/en.svg" width="20" height="15" alt="English language")
